# **Yatırım Sepeti Oluşturmak**

Pelin yapay zeka projeleri üreterek son 1 yıl içerisinde toplam 99 bin Türk Lirası para biriktirmeyi başarmıştır. Bu para ile yatırım yapmak istemektedir. Ekşi Sözlük'ten (https://eksisozluk.com/yatirim-sepeti--638320) "Yatırım Sepeti" diye bir şeyin olduğundan haberdar olmuştur. Bu yönteme göre yatırımların birden fazla araca birden yapılması durumunda riski aza indirebileceğini öğrenmiştir.

Elinde olan 99 bin Türk Lirasının 3'te 1'ini çeyrek altın alarak, 3'te 1'ini dolar alarak ve 3'te 1'ini de euro alarak değerlendirmek istemektedir. Fakat yatırım yapmak için acele etmek yerine bir hafta boyunca bu üç aracı (çeyrek altın, dolar, euro) gerçek zamanlı olarak takip eden bir programı Python ile yazmak istemektedir.

Kodluyoruz Python Bootcamp'inde bunu Pandas ile aşağıdaki kod ile yapabilececeğini öğrenen Pelin işe koyulmuştur.

```import pandas as pd
veriler = pd.read_html('http://finans.mynet.com/')``` 

Örneğin `veriler[11]` yaptığında altın fiyatlarını görebildiğini farketmiştir.

**SİZDEN İSTENENLER**

- Gerçek zamanlı olarak her bir dakikada bir Mynet Finans'tan Euro, Dolar ve çeyrek altın fiyatlarını çeken bir program yazınız.
- 1 saat boyunca çektiğiniz 60 veriyi bir Numpy dizisine yazınız.
- 99 bin lira ile kaç dolar kaç euro ve kaç çeyrek altın alınabileceğini her bir dakika için hesaplayın

In [0]:
import time
import datetime
import pandas as pd
import numpy as np

In [0]:
veriler=pd.read_html('http://finans.mynet.com/')

In [35]:
veriler

[   Hisse      Fiyat  Fark%   Saat
 0  MZHLD   590.0000   1992  09:55
 1  PKENT  9520.0000   1856  09:55
 2  IDGYO   240.0000   1009  11:06
 3  GARFA   304.0000    819  11:05
 4  ISATR   106.9989    701  13:55,    Hisse  Fiyat  Fark%   Saat
 0  OSMEN    136   -685  09:55
 1  HLGYO     74   -515  11:06
 2   YGYO     26   -370  11:06
 3  IEYHO     35   -278  11:05
 4  DGZTE   1450   -268  18:08,    Hisse          Hacim   Saat
 0  GARAN  370.985.16163  11:05
 1  THYAO  307.267.35822  11:05
 2  KRDMD  133.214.30714  11:05
 3  AKBNK  121.299.68764  11:05
 4  VAKBN  107.595.54792  11:05,   Varant  Fiyat  Fark%   Saat
 0  AUDEC     43  20714  10:59
 1  VBDCA      6  10000  10:44
 2  AUDEK     70   9444  10:04
 3  AUDEL     50   8519  11:00
 4  AUDEG     79   8372  10:54,   Varant  Fiyat  Fark%   Saat
 0  IBDTA     17  -7500  10:07
 1  AUDUC     17  -5854  10:12
 2  NADUI      9  -5500  10:15
 3  AUDUH     16  -4839  10:58
 4  AUDUG      9  -4706  10:48,   Varant Hacim(Lot)   Saat
 0  TKDEV  1.502.425  10:55
 1  IZDRE  1.499.105  10:52
 2  IZDBU  1.140.074  10:53
 3  GRDEP  1.050.358  11:04
 4  GRDEV    986.791  10:57,         Son     Son.1  Fark %   Saat
 0  Arjantin  39.86182    -203  23:26,        Son     Son.1  Fark %   Saat
 0  Almanya  12.30853     -19  18:45,          Son     Son.1  Fark %   Saat
 0  Hong Kong  28.20214     256  11:09,                 Son  Son.1  Fark %   Saat
 0             Dolar  57441     -73  11:20
 1              Euro  64965     -13  11:20
 2           Sterlin  73060     -13  11:17
 3  Japon Yeni (100)  53290     -39  11:17
 4       İsv. Frangı  58105     -11  11:17,                Son    Son.1  Fark %   Saat
 0     Euro / Dolar    11293      60  11:20
 1  Sterlin / Dolar    12719      62  11:20
 2      Dolar / Yen  1077200     -35  11:20,             Son        Son.1  Fark %   Saat
 0     Ons Altın      1.38169     155  11:20
 1    Gram Altın  25520.00000      78  11:17
 2        Çeyrek  41726.00000      78  11:17
 3    Cumhuriyet      1.69400       6  17:27
 4  Brent Petrol   6225.00000      18  23:45,          Ülke                 Gösterge
 0    Brezilya  COPOM Gösterge Faiz ...
 1     Japonya  Yabancıların Net Jap...
 2     Japonya  Yabancıların Net Jap...
 3     Japonya  Japonların Net Yaban...
 4     Japonya  Japonların Net Yaban...
 5   Hong Kong  HKMA Gösterge Faiz O...
 6         ABD  Platts Petrol ve Doğ...
 7         ABD  Platts Petrol Kule S...
 8         ABD  Platts Doğal Gaz Kul...
 9         ABD  Platts Karışık Kule ...
 10    Japonya  BOJ Gösterge Faiz Or...
 11    Tayland  Otomobil Satışları(Y...
 12    Malezya  AmSpec 20 Günlük Pal...
 13    Malezya  AmSpec 20 Günlük Pal...
 14      Macau  AMCM Gösterge Faiz O...,   Unnamed: 0      Son     Alış    Satış  %Fark
 0    EUR/USD    11293    11293    11294   0.60
 1    GBP/USD    12719    12719    12721   0.62
 2    USD/JPY  1077200  1077100  1077300  -0.35
 3    USD/CHF     9877     9877     9879  -0.65
 4    AUD/USD     6921     6920     6923   0.57
 5    USD/CAD    13211    13211    13213  -0.53, Empty DataFrame
 Columns: [Hisse Adı, İzleyen Kişi]
 Index: [],            Hisse Adı  Trend
 0        ÇEMAŞ DÖKÜM      6
 1  İHLAS GAYRİMENKUL      5
 2            ASELSAN      4
 3             PETKİM      3
 4    T. HALK BANKASI      2
 5    POLİSAN HOLDİNG      1
 6   EMLAK KONUT GMYO      0]

In [36]:
veriler[11]

            Son        Son.1  Fark %   Saat
0     Ons Altın      1.38169     155  11:20
1    Gram Altın  25520.00000      78  11:17
2        Çeyrek  41726.00000      78  11:17
3    Cumhuriyet      1.69400       6  17:27
4  Brent Petrol   6225.00000      18  23:45

In [37]:
veriler[9]

                Son  Son.1  Fark %   Saat
0             Dolar  57441     -73  11:20
1              Euro  64965     -13  11:20
2           Sterlin  73060     -13  11:17
3  Japon Yeni (100)  53290     -39  11:17
4       İsv. Frangı  58105     -11  11:17

In [0]:
ceyrekaltın=[]
dolar=[]
euro=[]
zaman=[]

In [0]:
def ekle(veriler,x,y,z):
  sonuc=(veriler[x].loc[y,"Son.1"])/z
  return sonuc

In [0]:
def hesap(x):
  sonuc=33000/x
  return sonuc

In [0]:
for yeniveriler in range(60):
  veriler=pd.read_html('http://finans.mynet.com/')
  
  altın_yeni=ekle(veriler,11,2,100)
  dolar_yeni=ekle(veriler,10,0,10000)
  euro_yeni=ekle(veriler,10,1,10000)
  
  altın_yeni_1=hesap(altın_yeni)
  dolar_yeni_1=hesap(dolar_yeni)
  euro_yeni_1=hesap(euro_yeni)
  
  ceyrekaltın.append(altın_yeni_1)
  dolar.append(dolar_yeni_1)
  euro.append(euro_yeni_1)
  zaman.append(datetime.datetime.now())
  
  time.sleep(60)
  
  kur_takibi={"ZAMAN":zaman,
             "33 bin ile Alınabilecek Çeyrek Altın":ceyrekaltın,
             "33 bin ile Alınabilecek Dolar":dolar,
             "33 bin ile Alınabilecek Euro":euro}
yatirim_sepetidf = pd.DataFrame(kur_takibi)
yatirim_sepetidf.to_csv(r'yatırım_sepeti.csv',index=None,header=True)

In [0]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv(r"yatırım_sepeti.csv")

In [44]:
df

                         ZAMAN  ...  33 bin ile Alınabilecek Euro
0   2019-06-20 08:22:41.124584  ...                  25945.435962
1   2019-06-20 08:23:41.735819  ...                  25945.435962
2   2019-06-20 08:24:42.444315  ...                  25947.476018
3   2019-06-20 08:25:42.743807  ...                  25947.476018
4   2019-06-20 08:26:43.304447  ...                  25941.356812
5   2019-06-20 08:27:43.816146  ...                  25941.356812
6   2019-06-20 08:28:44.223599  ...                  25943.396226
7   2019-06-20 08:29:44.813388  ...                  25943.396226
8   2019-06-20 08:30:45.067594  ...                  25947.476018
9   2019-06-20 08:31:45.523655  ...                  25947.476018
10  2019-06-20 08:32:46.026167  ...                  25939.317717
11  2019-06-20 08:33:46.436100  ...                  25939.317717
12  2019-06-20 08:34:47.017344  ...                  25945.435962
13  2019-06-20 08:35:47.408461  ...                  25945.435962
14  2019-06-20 08:36:47.836269  ...                  25945.435962
15  2019-06-20 08:37:48.482989  ...                  25945.435962
16  2019-06-20 08:38:48.928379  ...                  25945.435962
17  2019-06-20 08:39:49.226287  ...                  25945.435962
18  2019-06-20 08:40:49.582026  ...                  25953.598112
19  2019-06-20 08:41:49.927775  ...                  25953.598112
20  2019-06-20 08:42:50.423840  ...                  25951.557093
21  2019-06-20 08:43:50.825890  ...                  25951.557093
22  2019-06-20 08:44:51.234630  ...                  25953.598112
23  2019-06-20 08:45:51.573862  ...                  25953.598112
24  2019-06-20 08:46:52.702913  ...                  25953.598112
25  2019-06-20 08:47:53.091167  ...                  25953.598112
26  2019-06-20 08:48:53.605497  ...                  25963.808025
27  2019-06-20 08:49:54.136881  ...                  25963.808025
28  2019-06-20 08:50:54.787874  ...                  25965.850972
29  2019-06-20 08:51:55.356957  ...                  25965.850972
30  2019-06-20 08:52:55.705388  ...                  25961.765400
31  2019-06-20 08:53:56.044625  ...                  25961.765400
32  2019-06-20 08:54:56.444837  ...                  25957.681114
33  2019-06-20 08:55:56.942269  ...                  25957.681114
34  2019-06-20 08:56:57.256221  ...                  25955.639453
35  2019-06-20 08:57:57.665367  ...                  25955.639453
36  2019-06-20 08:58:58.018150  ...                  25957.681114
37  2019-06-20 08:59:58.395292  ...                  25957.681114
38  2019-06-20 09:00:58.953538  ...                  25957.681114
39  2019-06-20 09:01:59.216787  ...                  25957.681114
40  2019-06-20 09:02:59.609853  ...                  25963.808025
41  2019-06-20 09:03:59.952904  ...                  25963.808025
42  2019-06-20 09:05:00.297440  ...                  25965.850972
43  2019-06-20 09:06:00.752789  ...                  25965.850972
44  2019-06-20 09:07:01.321152  ...                  25963.808025
45  2019-06-20 09:08:01.730166  ...                  25963.808025
46  2019-06-20 09:09:02.087816  ...                  25967.894240
47  2019-06-20 09:10:02.392603  ...                  25967.894240
48  2019-06-20 09:11:02.967917  ...                  25971.981741
49  2019-06-20 09:12:03.550321  ...                  25971.981741
50  2019-06-20 09:13:03.997284  ...                  25967.894240
51  2019-06-20 09:14:04.436036  ...                  25967.894240
52  2019-06-20 09:15:04.886740  ...                  25963.808025
53  2019-06-20 09:16:05.188008  ...                  25963.808025
54  2019-06-20 09:17:05.657490  ...                  25959.723096
55  2019-06-20 09:18:06.188361  ...                  25959.723096
56  2019-06-20 09:19:06.564055  ...                  25957.681114
57  2019-06-20 09:20:06.866239  ...                  25957.681114
58  2019-06-20 09:21:07.226324  ...                  25957.681114
59  2019-06-20 09:22:07.663751  ...                  25957.681114

[60 rows x 4 columns]

In [0]:
from google.colab import files
files.download("yatırım_sepeti.csv")

In [0]:
numpyarray= pd.DataFrame(df).to_numpy()

In [47]:
numpyarray

array([['2019-06-20 08:22:41.124584', 79.0873795714902,
        29221.641724962366, 25945.43596194669],
       ['2019-06-20 08:23:41.735819', 78.98516036381044,
        29221.641724962366, 25945.43596194669],
       ['2019-06-20 08:24:42.444315', 79.0987535953979,
        29221.641724962366, 25947.47601824186],
       ['2019-06-20 08:25:42.743807', 79.0741140104953,
        29221.641724962366, 25947.47601824186],
       ['2019-06-20 08:26:43.304447', 79.0741140104953,
        29216.467463479414, 25941.356811571422],
       ['2019-06-20 08:27:43.816146', 79.07979870596692,
        29216.467463479414, 25941.356811571422],
       ['2019-06-20 08:28:44.223599', 79.07979870596692,
        29219.054365149637, 25943.396226415094],
       ['2019-06-20 08:29:44.813388', 79.10064958412234,
        29219.054365149637, 25943.396226415094],
       ['2019-06-20 08:30:45.067594', 79.10064958412234,
        29224.229543039317, 25947.47601824186],
       ['2019-06-20 08:31:45.523655', 79.12720297326459,
        29224.229543039317, 25947.47601824186],
       ['2019-06-20 08:32:46.026167', 79.12720297326459,
        29219.054365149637, 25939.31771734004],
       ['2019-06-20 08:33:46.436100', 79.155672823219,
        29219.054365149637, 25939.31771734004],
       ['2019-06-20 08:34:47.017344', 79.155672823219, 29226.81781950226,
        25945.43596194669],
       ['2019-06-20 08:35:47.408461', 79.19366450683945,
        29226.81781950226, 25945.43596194669],
       ['2019-06-20 08:36:47.836269', 79.19366450683945,
        29229.406554472982, 25945.43596194669],
       ['2019-06-20 08:37:48.482989', 79.22408412157296,
        29229.406554472982, 25945.43596194669],
       ['2019-06-20 08:38:48.928379', 79.22408412157296,
        29231.995748073346, 25945.43596194669],
       ['2019-06-20 08:39:49.226287', 79.2488172714392,
        29231.995748073346, 25945.43596194669],
       ['2019-06-20 08:40:49.582026', 79.2488172714392,
        29231.995748073346, 25953.598112465592],
       ['2019-06-20 08:41:49.927775', 79.2640453486417,
        29231.995748073346, 25953.598112465592],
       ['2019-06-20 08:42:50.423840', 79.2640453486417,
        29234.58540042523, 25951.557093425607],
       ['2019-06-20 08:43:50.825890', 79.33073705466609,
        29234.58540042523, 25951.557093425607],
       ['2019-06-20 08:44:51.234630', 79.33073705466609,
        29237.175511650566, 25953.598112465592],
       ['2019-06-20 08:45:51.573862', 79.3288300199524,
        29237.175511650566, 25953.598112465592],
       ['2019-06-20 08:46:52.702913', 79.3288300199524,
        29239.76608187134, 25953.598112465592],
       ['2019-06-20 08:47:53.091167', 79.34790449397677,
        29239.76608187134, 25953.598112465592],
       ['2019-06-20 08:48:53.605497', 79.34790449397677,
        29239.76608187134, 25963.808025177026],
       ['2019-06-20 08:49:54.136881', 79.35362862501803,
        29239.76608187134, 25963.808025177026],
       ['2019-06-20 08:50:54.787874', 79.35362862501803,
        29247.540547726665, 25965.850971752305],
       ['2019-06-20 08:51:55.356957', 79.3459966338062,
        29247.540547726665, 25965.850971752305],
       ['2019-06-20 08:52:55.705388', 79.3459966338062,
        29234.58540042523, 25961.765400047207],
       ['2019-06-20 08:53:56.044625', 79.3154833437485,
        29234.58540042523, 25961.765400047207],
       ['2019-06-20 08:54:56.444837', 79.3154833437485,
        29229.406554472982, 25957.681113820498],
       ['2019-06-20 08:55:56.942269', 79.28499351304599,
        29229.406554472982, 25957.681113820498],
       ['2019-06-20 08:56:57.256221', 79.28499351304599,
        29229.406554472982, 25955.639452571966],
       ['2019-06-20 08:57:57.665367', 79.40709370037057,
        29229.406554472982, 25955.639452571966],
       ['2019-06-20 08:58:58.018150', 79.40709370037057,
        29229.406554472982, 25957.681113820498],
       ['2019-06-20 08:59:58.395292', 79.3250162255715,
        29229.406554472982, 25957.681113820498],
       ['2019-06-20 09:00:58.953538', 79.3250162255715,
        29224.229543039317, 25957.681113820498],
       ['2019-06-20 09:01:59.216787', 79.33455139917301,
        29224.229543039317, 25957.681113820498],
       ['2019-06-20 09:02:59.609853', 79.33455139917301,
        29231.995748073346, 25963.808025177026],
       ['2019-06-20 09:03:59.952904', 79.30023549766905,
        29231.995748073346, 25963.808025177026],
       ['2019-06-20 09:05:00.297440', 79.30023549766905,
        29234.58540042523, 25965.850971752305],
       ['2019-06-20 09:06:00.752789', 79.28880345987506,
        29234.58540042523, 25965.850971752305],
       ['2019-06-20 09:07:01.321152', 79.28880345987506,
        29237.175511650566, 25963.808025177026],
       ['2019-06-20 09:08:01.730166', 79.30023549766905,
        29237.175511650566, 25963.808025177026],
       ['2019-06-20 09:09:02.087816', 79.30023549766905,
        29234.58540042523, 25967.89423984892],
       ['2019-06-20 09:10:02.392603', 79.34981244589784,
        29234.58540042523, 25967.89423984892],
       ['2019-06-20 09:11:02.967917', 79.34981244589784,
        29226.81781950226, 25971.98174090981],
       ['2019-06-20 09:12:03.550321', 79.30785868781544,
        29226.81781950226, 25971.98174090981],
       ['2019-06-20 09:13:03.997284', 79.30785868781544,
        29226.81781950226, 25967.89423984892],
       ['2019-06-20 09:14:04.436036', 79.33645870897945,
        29226.81781950226, 25967.89423984892],
       ['2019-06-20 09:15:04.886740', 79.33645870897945,
        29224.229543039317, 25963.808025177026],
       ['2019-06-20 09:16:05.188008', 79.26594926979247,
        29224.229543039317, 25963.808025177026],
       ['2019-06-20 09:17:05.657490', 79.26594926979247,
        29219.054365149637, 25959.72309628697],
       ['2019-06-20 09:18:06.188361', 79.26594926979247,
        29219.054365149637, 25959.72309628697],
       ['2019-06-20 09:19:06.564055', 79.26594926979247,
        29221.641724962366, 25957.681113820498],
       ['2019-06-20 09:20:06.866239', 79.2640453486417,
        29221.641724962366, 25957.681113820498],
       ['2019-06-20 09:21:07.226324', 79.2640453486417,
        29221.641724962366, 25957.681113820498],
       ['2019-06-20 09:22:07.663751', 79.34981244589784,
        29221.641724962366, 25957.681113820498]], dtype=object)