# **Yatırım Sepeti Oluşturmak**

Pelin yapay zeka projeleri üreterek son 1 yıl içerisinde toplam 99 bin Türk Lirası para biriktirmeyi başarmıştır. Bu para ile yatırım yapmak istemektedir. Ekşi Sözlük'ten (https://eksisozluk.com/yatirim-sepeti--638320) "Yatırım Sepeti" diye bir şeyin olduğundan haberdar olmuştur. Bu yönteme göre yatırımların birden fazla araca birden yapılması durumunda riski aza indirebileceğini öğrenmiştir.

Elinde olan 99 bin Türk Lirasının 3'te 1'ini çeyrek altın alarak, 3'te 1'ini dolar alarak ve 3'te 1'ini de euro alarak değerlendirmek istemektedir. Fakat yatırım yapmak için acele etmek yerine bir hafta boyunca bu üç aracı (çeyrek altın, dolar, euro) gerçek zamanlı olarak takip eden bir programı Python ile yazmak istemektedir.

Kodluyoruz Python Bootcamp'inde bunu Pandas ile aşağıdaki kod ile yapabilececeğini öğrenen Pelin işe koyulmuştur.

```import pandas as pd
veriler = pd.read_html('http://finans.mynet.com/')``` 

Örneğin `veriler[11]` yaptığında altın fiyatlarını görebildiğini farketmiştir.

**SİZDEN İSTENENLER**

- Gerçek zamanlı olarak her bir dakikada bir Mynet Finans'tan Euro, Dolar ve çeyrek altın fiyatlarını çeken bir program yazınız.
- 1 saat boyunca çektiğiniz 60 veriyi bir Numpy dizisine yazınız.

In [0]:
import time
import datetime
import pandas as pd
import numpy as np

In [0]:
veriler=pd.read_html('http://finans.mynet.com/')

In [41]:
veriler

[   Hisse  Fiyat  Fark%   Saat
 0  NUGYO    247   1990  18:08
 1   BOYP    615   1988  18:05
 2   EKIZ     34   1724  17:55
 3  MERIT    984   1576  18:05
 4  VANGD    165    927  18:08,    Hisse  Fiyat  Fark%   Saat
 0  KATMR    390  -1429  18:09
 1  DOBUR    329   -886  18:09
 2  OSMEN    124   -815  18:09
 3  SRVGY    423   -579  18:08
 4  AEFES   1878   -553  18:08,    Hisse            Hacim   Saat
 0  GARAN  1.181.335.63248  18:09
 1  THYAO    707.956.86360  18:09
 2   SASA    332.405.52103  18:09
 3  KRDMD    321.050.29858  18:09
 4  AKBNK    287.399.44055  18:08,   Varant  Fiyat  Fark%   Saat
 0  AGDTU     55  45000  17:26
 1  AUDEA    120  12642  16:44
 2  PXDGD      9  12500  15:08
 3  PXDGC     12  10000  15:36
 4  PXDGB     17   7000  17:50,   Varant  Fiyat  Fark%   Saat
 0  YBDRP     11  -8406  16:45
 1  PXDVS     29  -7820  17:55
 2  PXDVT     78  -5851  17:52
 3  VBDSA      6  -5000  14:10
 4  PXDVU    146  -4710  17:52,   Varant Hacim(Lot)   Saat
 0  IZDBI  8.911.166  17:59
 1  IZDRD  6.821.263  17:59
 2  IZDRE  4.491.634  17:59
 3  DADYI  4.324.816  17:59
 4  IZDRR  3.952.921  17:55,         Son     Son.1  Fark %   Saat
 0  Arjantin  40.29482     109  23:32,        Son     Son.1  Fark %   Saat
 0  Almanya  12.33992     -13  18:44,          Son     Son.1  Fark %   Saat
 0  Hong Kong  28.47371     -27  11:08,                 Son  Son.1  Fark %   Saat
 0             Dolar  58224     101  23:59
 1              Euro  66214     159  23:59
 2           Sterlin  74156     134  23:59
 3  Japon Yeni (100)  54202     102  23:59
 4       İsv. Frangı  59575     160  23:59,                Son    Son.1  Fark %   Saat
 0     Euro / Dolar    11369      68  23:59
 1  Sterlin / Dolar    12742      31  23:59
 2      Dolar / Yen  1073100       2  23:59,             Son        Son.1  Fark %   Saat
 0     Ons Altın      1.39984      79  23:59
 1    Gram Altın  26205.00000     185  23:59
 2        Çeyrek  42844.00000     185  23:59
 3    Cumhuriyet      1.74500      17  12:24
 4  Brent Petrol   6531.00000     133  23:58,    Ülke Gösterge
 0   NaN      ...,   Unnamed: 0      Son     Alış    Satış  %Fark
 0    EUR/USD    11369    11368    11369   0.68
 1    GBP/USD    12742    12739    12747   0.31
 2    USD/JPY  1073100  1073000  1073400   0.02
 3    USD/CHF     9763     9761     9766  -0.54
 4    AUD/USD     6926     6924     6930   0.04
 5    USD/CAD    13222    13219    13225   0.24, Empty DataFrame
 Columns: [Hisse Adı, İzleyen Kişi]
 Index: [],                   Hisse Adı  Trend
 0           T. HALK BANKASI      6
 1         İHLAS GAYRİMENKUL      5
 2  IŞIKLAR ENERJİ YAPI HOL.      4
 3              EGE ENDÜSTRİ      3
 4               İŞ FİN.KİR.      2
 5    ALCATEL LUCENT TELETAŞ      1
 6            SASA POLYESTER      0]

In [42]:
veriler[11]

            Son        Son.1  Fark %   Saat
0     Ons Altın      1.39984      79  23:59
1    Gram Altın  26205.00000     185  23:59
2        Çeyrek  42844.00000     185  23:59
3    Cumhuriyet      1.74500      17  12:24
4  Brent Petrol   6531.00000     133  23:58

In [43]:
veriler[9]

                Son  Son.1  Fark %   Saat
0             Dolar  58224     101  23:59
1              Euro  66214     159  23:59
2           Sterlin  74156     134  23:59
3  Japon Yeni (100)  54202     102  23:59
4       İsv. Frangı  59575     160  23:59

In [0]:
ceyrekaltın=[]
dolar=[]
euro=[]
zaman=[]

In [0]:
def ekle(veriler,x,y,z):
  sonuc=(veriler[x].loc[y,"Son.1"])/z
  return sonuc

In [0]:
def hesap(hesap):
  sonuc=33000/hesap
  return sonuc

In [0]:
for yeniveriler in range(60):
  veriler=pd.read_html('http://finans.mynet.com/')
  
  altın_yeni=ekle(veriler,11,2,100)
  dolar_yeni=ekle(veriler,9,0,10000)
  euro_yeni=ekle(veriler,9,1,10000)
  
  altın_yeni_1=hesap(altın_yeni)
  dolar_yeni_1=hesap(dolar_yeni)
  euro_yeni_1=hesap(euro_yeni)
  
  ceyrekaltın.append(altın_yeni_1)
  dolar.append(dolar_yeni_1)
  euro.append(euro_yeni_1)
  zaman.append(datetime.datetime.now())
  
  time.sleep(60)
  
  kur_takibi={"ZAMAN":zaman,
             "33 bin ile Alınabilecek Çeyrek Altın":ceyrekaltın,
             "33 bin ile Alınabilecek Dolar":dolar,
             "33 bin ile Alınabilecek Euro":euro}
yatirim_sepetidf = pd.DataFrame(kur_takibi)
yatirim_sepetidf.to_csv(r'yatırım_sepeti.csv',index=None,header=True)

In [0]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv(r"yatırım_sepeti.csv")

In [49]:
df

                         ZAMAN  ...  33 bin ile Alınabilecek Euro
0   2019-06-23 18:45:07.517969  ...                   4983.840275
1   2019-06-23 18:46:08.732776  ...                   4983.840275
2   2019-06-23 18:47:10.129574  ...                   4983.840275
3   2019-06-23 18:48:11.437936  ...                   4983.840275
4   2019-06-23 18:49:12.959866  ...                   4983.840275
5   2019-06-23 18:50:14.536373  ...                   4983.840275
6   2019-06-23 18:51:15.992057  ...                   4983.840275
7   2019-06-23 18:52:17.656442  ...                   4983.840275
8   2019-06-23 18:53:19.278932  ...                   4983.840275
9   2019-06-23 18:54:20.237795  ...                   4983.840275
10  2019-06-23 18:55:21.632803  ...                   4983.840275
11  2019-06-23 18:56:22.956841  ...                   4983.840275
12  2019-06-23 18:57:24.612108  ...                   4983.840275
13  2019-06-23 18:58:26.240937  ...                   4983.840275
14  2019-06-23 18:59:27.558717  ...                   4983.840275
15  2019-06-23 19:00:28.943665  ...                   4983.840275
16  2019-06-23 19:01:30.576176  ...                   4983.840275
17  2019-06-23 19:02:31.810403  ...                   4983.840275
18  2019-06-23 19:03:32.972444  ...                   4983.840275
19  2019-06-23 19:04:34.054437  ...                   4983.840275
20  2019-06-23 19:05:35.315640  ...                   4983.840275
21  2019-06-23 19:06:37.396146  ...                   4983.840275
22  2019-06-23 19:07:38.629456  ...                   4983.840275
23  2019-06-23 19:08:40.195617  ...                   4983.840275
24  2019-06-23 19:09:41.329458  ...                   4983.840275
25  2019-06-23 19:10:42.364725  ...                   4983.840275
26  2019-06-23 19:11:43.873719  ...                   4983.840275
27  2019-06-23 19:12:45.135841  ...                   4983.840275
28  2019-06-23 19:13:46.258152  ...                   4983.840275
29  2019-06-23 19:14:47.962113  ...                   4983.840275
30  2019-06-23 19:15:49.669358  ...                   4983.840275
31  2019-06-23 19:16:50.776321  ...                   4983.840275
32  2019-06-23 19:17:52.395075  ...                   4983.840275
33  2019-06-23 19:18:54.062240  ...                   4983.840275
34  2019-06-23 19:19:55.813521  ...                   4983.840275
35  2019-06-23 19:20:57.031658  ...                   4983.840275
36  2019-06-23 19:21:58.579509  ...                   4983.840275
37  2019-06-23 19:22:59.999101  ...                   4983.840275
38  2019-06-23 19:24:01.121121  ...                   4983.840275
39  2019-06-23 19:25:02.646665  ...                   4983.840275
40  2019-06-23 19:26:03.928484  ...                   4983.840275
41  2019-06-23 19:27:05.130811  ...                   4983.840275
42  2019-06-23 19:28:06.532951  ...                   4983.840275
43  2019-06-23 19:29:08.146374  ...                   4983.840275
44  2019-06-23 19:30:09.480586  ...                   4983.840275
45  2019-06-23 19:31:11.296619  ...                   4983.840275
46  2019-06-23 19:32:12.535631  ...                   4983.840275
47  2019-06-23 19:33:14.262896  ...                   4983.840275
48  2019-06-23 19:34:15.799916  ...                   4983.840275
49  2019-06-23 19:35:17.665668  ...                   4983.840275
50  2019-06-23 19:36:19.193018  ...                   4983.840275
51  2019-06-23 19:37:20.289840  ...                   4983.840275
52  2019-06-23 19:38:21.767242  ...                   4983.840275
53  2019-06-23 19:39:23.148219  ...                   4983.840275
54  2019-06-23 19:40:25.352269  ...                   4983.840275
55  2019-06-23 19:41:27.063789  ...                   4983.840275
56  2019-06-23 19:42:28.788889  ...                   4983.840275
57  2019-06-23 19:43:30.123940  ...                   4983.840275
58  2019-06-23 19:44:31.603856  ...                   4983.840275
59  2019-06-23 19:45:33.358490  ...                   4983.840275

[60 rows x 4 columns]

In [0]:
from google.colab import files
files.download("yatırım_sepeti.csv")

In [0]:
numpyarray= pd.DataFrame(df).to_numpy()

In [52]:
numpyarray

array([['2019-06-23 18:45:07.517969', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 18:46:08.732776', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 18:47:10.129574', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 18:48:11.437936', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 18:49:12.959866', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 18:50:14.536373', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 18:51:15.992057', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 18:52:17.656442', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 18:53:19.278932', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 18:54:20.237795', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 18:55:21.632803', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 18:56:22.956841', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 18:57:24.612108', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 18:58:26.240937', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 18:59:27.558717', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:00:28.943665', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:01:30.576176', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:02:31.810403', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:03:32.972444', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:04:34.054437', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:05:35.315640', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:06:37.396146', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:07:38.629456', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:08:40.195617', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:09:41.329458', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:10:42.364725', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:11:43.873719', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:12:45.135841', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:13:46.258152', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:14:47.962113', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:15:49.669358', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:16:50.776321', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:17:52.395075', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:18:54.062240', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:19:55.813521', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:20:57.031658', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:21:58.579509', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:22:59.999101', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:24:01.121121', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:25:02.646665', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:26:03.928484', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:27:05.130811', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:28:06.532951', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:29:08.146374', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:30:09.480586', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:31:11.296619', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:32:12.535631', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:33:14.262896', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:34:15.799916', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:35:17.665668', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:36:19.193018', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:37:20.289840', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:38:21.767242', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:39:23.148219', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:40:25.352269', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:41:27.063789', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:42:28.788889', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:43:30.123940', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:44:31.603856', 77.02362057697694,
        5667.765869744435, 4983.840275470444],
       ['2019-06-23 19:45:33.358490', 77.02362057697694,
        5667.765869744435, 4983.840275470444]], dtype=object)